.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  transition: linear .5s;
  border-bottom: 1px solid transparent;
  box-sizing: content-box;
}

.header__lang-link:hover {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}