.places {
  margin: 0 16px 66px;
}

@media (min-width: 768px) {
  .places {
    margin: 0 24px 90px;
  }
}

@media (min-width: 1024px) {
  .places {
    width: 928px;
    margin: 0 auto 92px;
  }
}

@media (min-width: 1280px) {
  .places {
    width: 984px;
  }
}