.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  transition: linear .5s;
}

.footer__link:hover {
  opacity: .8;
}

@media (min-width: 480px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}