.cover__title {
  font-weight: 900;
  color: #fff;
  
  width: 280px;
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 16px;
}

@media (min-width: 768px) {
  .cover__title {
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px;
  }
}